$heading_color: #043e04;
$main_color: #000;
$margin_none: 0;
$margin_x_auto: 0 auto;
$full_width: 100%;
@mixin html_reset {
	box-sizing: border-box;
	font-size: $full_width;
}
@mixin p_styles {
	color: $main_color;
	font-size: 1rem;
}
html {
	@include html_reset;
}
body {
	margin: $margin_none;
	font-size: $full_width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading_color;
}
p {
	@include p_styles;
}
